<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="io.pantheist.jumpalive.editor.JumpAliveEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="jalive"
            icon="icons/jump-alive.png"
            id="io.pantheist.jumpalive.editor.JumpAliveEditor"
            name="Jump Alive Editor">
      </editor>
   </extension>

</plugin>
